@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

body,
.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.uk-section-secondary h2,
.uk-section-secondary h4,
.HomeCatalog h4,
.uk-legend {
    font-weight: bold;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
}

header a,
header a:hover {
    color: white;
    text-decoration: none;
}

header .uk-subnav>*> :first-child {
    padding: 10px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    /* border-bottom: 3px solid transparent; */
}

header .uk-subnav>*> :first-child:focus,
header .uk-subnav>*> :first-child:hover {
    background-color: #1e87f0;
    /* border-bottom: 3px solid #1e87f0; */
}

.uk-navbar-toggle {
    color: white;
}

header .uk-button-default {
    color: white;
    border: 1px solid white;
}

header .uk-button-default:focus,
header .uk-button-default:hover {
    background-color: transparent;
    color: #1e87f0;
    border-color: #1e87f0;
}

.TopSearch {
    margin-top: 40vh !important;
    color: white;
}

.TopSearch .uk-text-lead {
    color: black;
}

.TopSearch .uk-text-lead b {
    color: #28a5f5;
}

.HomeSteps {
    background-color: #f07575;
    background-image: linear-gradient(to bottom, #2597dd, #1b78d4);
}

.HomeStepsNumber {
    font-size: 100px;
    font-weight: bold;
    color: rgba(0, 0, 0, .1);
    line-height: 100px;
    margin-bottom: 30px;
}

.HomeStepsNumber:hover {
    cursor: default;
    color: rgb(0, 0, 0) !important;
    transition: .2s ease-in-out;
}

.HomeSteps h4 {
    margin: 0;
}

.HomeCatalog .uk-badge {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
}

.HomeCatalog h4 {
    margin-top: 20px;
    margin-bottom: 40px;
}

footer {
    background: #45494e;
}

footer,
footer a {
    color: #999;
}

footer .uk-subnav>*>a:focus,
footer .uk-subnav>*>a:hover {
    color: #777;
    text-decoration: none;
    outline: 0;
}